# Временные файлы
*~
*.swp
*.swo
.DS_Store

# Случайные артефакты
[
#
=
CACHED
transferring

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.iml

